.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-items: flex-start;
  gap: 8px;

  margin-top: auto;
}

.tag {
  background-color: var(--gray-8);

  border-radius: 24px;

  color: var(--gray-2);

  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 0.85rem;

  text-align: center;

  line-height: var(--line-height);

  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  border: 1px solid var(--gray-7);

  &:hover {
    border-color: var(--gray-6);
    color: var(--white);
  }
}
