:root {
  --max-width: 1060px;
  --border-radius: 8px;

  --font-inter: 'Inter', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
    'Droid Sans Mono', 'Courier New', monospace;

  --white: #ffffff;

  --pink: #f57ad0;

  --gray-0: #f9f9f9;
  --gray-05: #f6f6f6;
  --gray-1: #eee;
  --gray-2: #e6e6e6;
  --gray-3: #ddd;
  --gray-4: #bbb;
  --gray-5: #999;
  --gray-6: #666;
  --gray-65: #555;
  --gray-7: #2c2c2c;
  --gray-8: #252525;
  --gray-9: #1f1f1f;
  --gray-10: #181818;

  --line-height: 1.75;

  --background-color: #eee;
  --card-background-color: var(--gray-0);
  --card-border-color: var(--gray-3);
  --card-border-radius: 8px;
  --card-time-color: var(--gray-5);

  --font-color-bright: var(--gray-9);

  --sm: 576px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--gray-10);
    --card-background-color: var(--gray-9);
    --card-time-color: var(--pink);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.grid {
  display: grid;
}

.repositories {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 20px;
}

@media screen and (max-width: 576px) {
  .repositories {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
  }
}
